In [2]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('seaborn')

df1 = pd.read_csv('D:/resource/MISY225/my-streamlit/Final-data-app/archive/Terra.csv')
df2 = pd.read_csv('D:/resource/MISY225/my-streamlit/Final-data-app/archive/terrausd.csv')
df3 = pd.read_csv('D:/resource/MISY225/my-streamlit/Final-data-app/archive/terra-luna.csv')
df4 = pd.read_csv('D:/resource/MISY225/my-streamlit/Final-data-app/archive/bitcoin.csv')
df5 = pd.read_csv('D:/resource/MISY225/my-streamlit/Final-data-app/archive/ethereum.csv')

2022-10-26 22:58:01.302 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [2]:
BTC = df4.price[1]

In [3]:
BTC

35974.68

In [3]:
df3.price

0       79.970000
1       79.880000
2       80.080000
3       80.240000
4       80.670000
          ...
1071     0.000193
1072     0.000191
1073     0.000191
1074     0.000191
1075     0.000191
Name: price, Length: 1076, dtype: float64

In [4]:
np.linspace(1,len(df2.price),20)

array([1.00000000e+00, 5.75789474e+01, 1.14157895e+02, 1.70736842e+02,
       2.27315789e+02, 2.83894737e+02, 3.40473684e+02, 3.97052632e+02,
       4.53631579e+02, 5.10210526e+02, 5.66789474e+02, 6.23368421e+02,
       6.79947368e+02, 7.36526316e+02, 7.93105263e+02, 8.49684211e+02,
       9.06263158e+02, 9.62842105e+02, 1.01942105e+03, 1.07600000e+03])

In [8]:
df3.iloc[2:len(df3):20,2: ]

          price
2     80.080000
22    79.010000
42    76.500000
62    72.610000
82    73.660000
102   73.230000
122   67.040000
142   65.540000
162   63.820000
182   61.120000
202   66.940000
222   64.120000
242   63.250000
262   61.240000
282   59.070000
302   46.980000
322   30.250000
342   29.780000
362   29.730000
382   28.150000
402   24.610000
422   15.990000
442    8.650000
462    2.250000
482    2.300000
502    1.018800
522    0.758400
542    0.158700
562    0.027100
582    0.017060
602    0.001800
622    0.000050
642    0.000050
662    0.000050
682    0.000050
702    0.000050
722    0.000050
742    0.000050
762    0.000050
782    0.000050
802    0.000050
822    0.000050
842    0.000050
862    0.000050
882    0.000050
902    0.000050
922    0.000050
942    0.000050
962    0.000050
982    0.000050
1002   0.000050
1022   0.000050
1042   0.000183
1062   0.000198